<template name="UniContentListDefault">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{>UniContentCategories}}
            <h1>Content list</h1>
            {{#each contents}}
                {{>UniContentListEntry}}
            {{/each}}
        </div>
    </div>
</template>

<template name="UniContentCategoriesDefault">
    {{#if this._content.categories}}
        <a href="{{pathFor 'UniContentList' type=UniContentGetType}}">All</a>
        {{#each this._content.categories}}
            <a href="{{pathFor 'UniContentList' type=UniContentGetType category=.}}">{{.}}</a>
        {{/each}}
    {{/if}}
</template>

<template name="UniContentFullDefault">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{>UniContentCategories}}
            <h1>ContentFullDefault</h1>

            <h1>{{title}}</h1>
            <p>{{text}}</p>
        </div>
    </div>
</template>

<template name="UniContentListEntryDefault">
    <a href="{{pathFor 'UniContentFull' type=UniContentGetType _id=_id seo=title}}">
        <div class="media">
            <span class="pull-left">
                <img class="media-object" src="http://placehold.it/150x150">
            </span>
            <div class="media-body">
                <h4 class="media-heading">{{title}}</h4>
                <p>{{text}}</p>
            </div>
        </div>
    </a>
</template>