<template name="UniContentList">
    {{> UI.dynamic template=getTemplate data=getContext}}
</template>

<template name="UniContentCategories">
    {{> UI.dynamic template=getTemplate data=UniContentGetPlugin}}
</template>

<template name="UniContentListEntry">
    {{> UI.dynamic template=getTemplate}}
</template>

<template name="UniContentFull">
    {{> UI.dynamic template=getTemplate data=getContext}}
</template>