<head>
    <title>CMS Starter</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script type="text/javascript" src="/lib/ckeditor/ckeditor.js"></script>
</head>

<template name="layout">
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Starter</a>
            </div>
            {{>loginButtons}}
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                {{> yield}}
            </div>
        </div>
    </div>
</template>


<template name="index">
    <h2>Objects</h2>
    {{#each objects}}
        <p>{{_id}}</p>
    {{/each}}

    <h2>Groups</h2>
    {{#each groups}}
        <p>{{_id}}</p>
    {{/each}}
</template>
