<template name="UniNewsFull">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{>UniContentCategories}}
            <h1>NewsFull</h1>
            <h1>{{title}}</h1>
            <p>{{text}}</p>
        </div>
    </div>
</template>